<!-- API Error -->
<div ng-if="apiSuccess == false" class="row">
	<div class="large-12 columns">
		<h1>Oops.</h1>
		<h2>There's been a slight hiccup...</h2>
		<br />
		<h3 class="subheader">Error Code {{apiStatus}}</h3>
		<h3>{{apiMessage}}</h3>
	</div>
</div>

<!-- API Success -->

<!-- Small (phone) Screens -->
<!-- Not in a session -->
<div ng-if="apiSuccess == true && gameStates.mSessionState == 0" class="row show-for-small-only">
	<div class="large-12 columns">
		<h1>Waiting for a session to start...</h1>
	</div>
</div>

<!-- In a session -->
<div ng-if="apiSuccess == true && gameStates.mSessionState != 0" class="row show-for-small-only">
	<div ng-class="{'bg-red': carState.mRpm > (carState.mMaxRPM/100)*90}" class="panel large-12 columns mobile-top-panel">
		<div class="large-12 columns">
			<!-- RPM Meter -->
			<div ng-class="{'alert': carState.mRpm > (carState.mMaxRPM/100)*90}" class="progress">
				<span class="meter" style="width: {{carState.mRpm / carState.mMaxRPM | percentage:1}};"></span>
			</div>
		</div>
		<div class="large-12 columns">
			<!-- Gear -->
			<div class="small-3 columns text-center">
				<h3>{{carState.mGear}}<small>/{{carState.mNumGears}} gear</small></h3>
			</div>
			<!-- Speed -->
			<div class="small-6 columns text-center">
				<h2>{{carState.mSpeed | msToMph | number:1}}<small> MPH</small></h2>
			</div>
			<!-- RPM -->
			<div class="small-3 columns text-center">
				<h3>{{carState.mRpm | number:0}}<small> RPM</small></h3>
			</div>
		</div>
	</div>
	<div class="large-12 columns">
		<div class="small-3 columns text-center">
			<!-- Lap -->
			<h2>{{participants.mParticipantInfo[participants.mViewedParticipantIndex].mCurrentLap}}<small> /{{eventInformation.mLapsInEvent}} lap</small></h2>
		</div>
		<div class="small-6 columns text-center">
			<!-- Time -->
			<h1 ng-if="!timings.mLapInvalidated">{{timings.mCurrentTime | racetime | date:'mm:ss:sss'}}</h1>
			<h1 ng-if="timings.mLapInvalidated" class="text-red">Lap Invalid</h1>
		</div>
		<div class="small-3 columns text-center">
			<!-- Split -->
			<h3 class="subheader">{{timings.mSplitTime}}</h3>
		</div>
	</div>
	<div class="large-12 columns">
		<div class="small-4 columns">
			<!-- Driver Lap Timings -->
			<table>
				<tr>
					<th>Best</th>
					<td>{{timings.mBestLapTime | racetime | date:'mm:ss:sss'}}</td>
				</tr>
				<tr>
					<th>PB</th>
					<td>{{timings.mPersonalFastestLapTime | racetime | date:'mm:ss:sss'}}</td>
				</tr>
				<tr>
					<th>WR</th>
					<td>{{timings.mWorldFastestLapTime | racetime | date:'mm:ss:sss'}}</td>
				</tr>
			</table>
		</div>
		<div class="small-4 columns text-center">
			<!-- Position -->
			<h1>{{participants.mParticipantInfo[participants.mViewedParticipantIndex].mRacePosition}}<small> /{{participants.mNumParticipants}} pos</small></h1>
			<br />
			<div class="small-3 columns">
				Fuel
			</div>
			<div class="small-9 columns">
				<div ng-class="{'alert': carState.mFuelLevel < 0.1}" class="progress">
					<span class="meter" style="width: {{carState.mFuelLevel | percentage:1}};"><small class="text-white">{{carState.mFuelLevel | percentage:0}}</small></span>
				</div>
			</div>
			<small>Ambient <strong>{{weather.mAmbientTemperature | number: 1}}&deg;C</strong> &nbsp; Track <strong>{{weather.mTrackTemperature | number: 1}}&deg;C</strong></small><br />
			<small></small>
		</div>
		<div class="small-4 columns">
			<!-- Tyres -->
			<table class="mobile-tyre-table">
			<tr>
				<td>
					<!-- Front Left -->
					{{wheelsAndTyres.mTyreTemp[0] | number: 1}}&deg;C<br />
					{{wheelsAndTyres.mTyreWear[0] | percentage: 1}}
				</td>
				<td rowspan="3"></td>
				<td class="text-right">
					<!-- Front Right -->
					{{wheelsAndTyres.mTyreTemp[1] | number: 1}}&deg;C<br />
					{{wheelsAndTyres.mTyreWear[1] | percentage: 1}}
				</td>
			</tr>
			<tr>
				<td class="text-center">
					&nbsp;
				</td>
				<td class="text-center">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					<!-- Rear Left -->
					{{wheelsAndTyres.mTyreTemp[2] | number: 1}}&deg;C<br />
					{{wheelsAndTyres.mTyreWear[2] | percentage: 1}}
				</td>
				<td class="text-right">
					<!-- Rear Right -->
					{{wheelsAndTyres.mTyreTemp[3] | number: 1}}&deg;C<br />
					{{wheelsAndTyres.mTyreWear[3] | percentage: 1}}
				</td>
			</tr>
		</table>
		</div>
	</div>
</div>

<!-- Medium (tablet) Screens -->
<!-- TODO: implement medium (tablet) screen view -->
<div ng-if="apiSuccess == true" class="row show-for-medium-only">
Medium screen
</div>

<!-- L/XL/XXL Screens -->
<div ng-if="apiSuccess == true" class="row show-for-large-up">
	<div class="large-11 columns">
		<div class="panel">
			<!-- Session Info -->
			<h4>Project CARS v{{buildinfo.mVersion}}.{{buildinfo.mBuildVersionNumber}}</h4>
			<h1>{{eventInformation.mTrackLocation}}</h1>
			<h2 class="subheader">{{eventInformation.mTrackVariation}}</h2>
		</div>

		<div class="panel">
			<!-- Vehicle -->
			<h3>{{vehicleInformation.mCarName}} <small>{{vehicleInformation.mCarClassName}}</small></h3>
			<h3 ng-if="gameStates.mSessionState == 0">Waiting for a session to start...</h3>
		</div>
	</div>

	<div class="large-1 columns">
		<!-- Game status -->
		<div class="icon-bar large-vertical three-up">
			<a class="item invisible-interactions">
			<i ng-class="{'text-green': gameStates.mGameState != 0}" class="fa fa-circle text-red"></i>
			<label>Game</label>
			</a>
			<a class="item invisible-interactions">
			<i ng-class="{'text-green': gameStates.mSessionState != 0}" class="fa fa-circle text-red"></i>
			<label>Session</label>
			</a>
			<a class="item invisible-interactions">
			<i ng-class="{'text-green': gameStates.mRaceState != 0}" class="fa fa-circle text-red"></i>
			<label>Race</label>
			</a>
			</div>
		</div>
	</div>
</div>

<br />

<div ng-if="apiSuccess == true && gameStates.mSessionState != 0" class="row show-for-large-up">
	<div class="large-9 columns">

		<!-- Lap Info -->
		<div class="small-4 columns">
			<h1>{{participants.mParticipantInfo[participants.mViewedParticipantIndex].mCurrentLap}}<small>/{{eventInformation.mLapsInEvent}}</small></h1>
		</div>

		<div class="small-8 columns">
			<h1 ng-if="!timings.mLapInvalidated">{{timings.mCurrentTime | racetime | date:'mm:ss:sss'}}</h1>
			<h1 ng-if="timings.mLapInvalidated" class="text-red">Lap Invalid</h1>
			<h3 class="subheader">{{timings.mSplitTime}}</h3>
		</div>

		<!-- Timings Table -->
		<table>
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th width="150">Current</th>
					<th width="150">Race Best</th>
					<th width="150">Personal Best</th>
					<th width="150">World Record</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Sector 1</th>
					<td>{{timings.mCurrentSector1Time | racetime | date:'mm:ss:sss'}}</td>
					<td>{{timings.mFastestSector1Time | racetime | date:'mm:ss:sss'}}</td>
					<td>{{timings.mPersonalFastestSector1Time | racetime | date:'mm:ss:sss'}}</td>
					<td>{{timings.mWorldFastestSector1Time | racetime | date:'mm:ss:sss'}}</td>
				</tr>
				<tr>
					<th>Sector 2</th>
					<td>{{timings.mCurrentSector2Time | racetime | date:'mm:ss:sss'}}</td>
					<td>{{timings.mFastestSector2Time | racetime | date:'mm:ss:sss'}}</td>
					<td>{{timings.mPersonalFastestSector2Time | racetime | date:'mm:ss:sss'}}</td>
					<td>{{timings.mWorldFastestSector2Time | racetime | date:'mm:ss:sss'}}</td>
				</tr>
				<tr>
					<th>Sector 3</th>
					<td>{{timings.mCurrentSector3Time | racetime | date:'mm:ss:sss'}}</td>
					<td>{{timings.mFastestSector3Time | racetime | date:'mm:ss:sss'}}</td>
					<td>{{timings.mPersonalFastestSector3Time | racetime | date:'mm:ss:sss'}}</td>
					<td>{{timings.mWorldFastestSector3Time | racetime | date:'mm:ss:sss'}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>Lap</th>
					<th>{{timings.mCurrentTime | racetime | date:'mm:ss:sss'}}</th>
					<th>{{timings.mBestLapTime | racetime | date:'mm:ss:sss'}}</th>
					<th>{{timings.mPersonalFastestLapTime | racetime | date:'mm:ss:sss'}}</th>
					<th>{{timings.mWorldFastestLapTime | racetime | date:'mm:ss:sss'}}</th>
				</tr>
			</tfoot>
		</table>

		<table>
			<tr>
				<td width="200" class="text-right">
					<!-- Front Left -->
					{{wheelsAndTyres.mTyreTemp[0] | number: 1}}&deg;C<br />
					{{wheelsAndTyres.mTyreWear[0] | percentage: 1}}
				</td>
				<td width="200" height="500" rowspan="3"><img src="img/f1-top-down.png" /></td>
				<td width="200">
					<!-- Front Right -->
					{{wheelsAndTyres.mTyreTemp[1] | number: 1}}&deg;C<br />
					{{wheelsAndTyres.mTyreWear[1] | percentage: 1}}
				</td>
			</tr>
			<tr>
				<td class="text-center">
					<!-- Flags -->
					<div ng-switch on="flags.mHighestFlagColour">
						<img ng-switch-when="1" src="img/flags/green.svg" width="100" />
						<img ng-switch-when="2" src="img/flags/blue.svg" width="100" />
						<img ng-switch-when="3" src="img/flags/white.svg" width="100" />
						<img ng-switch-when="4" src="img/flags/yellow.svg" width="100" />
						<img ng-switch-when="5" src="img/flags/double_yellow.svg" width="100" />
						<img ng-switch-when="6" src="img/flags/black.svg" width="100" />
						<img ng-switch-when="7" src="img/flags/chequered.svg" width="100" />
					</div>
					<div ng-switch on="flags.mHighestFlagReason">
						<span ng-switch-when="1">Solo Crash</span>
						<span ng-switch-when="2">Vehicle Crash</span>
						<span ng-switch-when="3">Vehicle Obstruction</span>
					</div>
				</td>
				<td class="text-center">
					<!-- Weather Info -->
					<table>
						<tr>
							<th>Air Temp</th>
							<td>{{weather.mAmbientTemperature | number: 1}}&deg;C</td>
						</tr>
						<tr>
							<th>Track Temp</th>
							<td>{{weather.mTrackTemperature | number: 1}}&deg;C</td>
						</tr>
						<tr>
							<th>Precipitation</th>
							<td>{{weather.mRainDensity | percentage: 0}}</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="text-right">
					<!-- Rear Left -->
					{{wheelsAndTyres.mTyreTemp[2] | number: 1}}&deg;C<br />
					{{wheelsAndTyres.mTyreWear[2] | percentage: 1}}
				</td>
				<td>
					<!-- Rear Right -->
					{{wheelsAndTyres.mTyreTemp[3] | number: 1}}&deg;C<br />
					{{wheelsAndTyres.mTyreWear[3] | percentage: 1}}
				</td>
			</tr>
		</table>

		<br />

		<!-- RPM Meter -->
		<div ng-class="{'alert': carState.mRpm > (carState.mMaxRPM/100)*90}" class="progress">
			<span class="meter" style="width: {{carState.mRpm / carState.mMaxRPM | percentage:1}};"></span>
		</div>

		<div ng-class="{'bg-red': carState.mRpm > (carState.mMaxRPM/100)*90}" class="row panel">
		<div class="large-4 columns">
			<h3>{{carState.mGear}}<small>/{{carState.mNumGears}} gear</small></h3>
		</div>
		<div class="large-4 columns text-center">
			<h2>{{carState.mSpeed | msToMph | number:1}}<small> MPH</small></h2>
		</div>
		<div class="large-4 columns text-right">
			<h3>{{carState.mRpm | number:0}}<small>/{{carState.mMaxRPM | number:0}} RPM</small></h3>
		</div>
		</div>
	</div>

	<div class="large-3 columns">
		<div class="panel">
			<!-- Race Status -->
			<div ng-switch on="gameStates.mSessionState" class="text-center">
				<h3 ng-switch-when="1">Practice</h3>
				<h3 ng-switch-when="2">Testing</h3>
				<h3 ng-switch-when="3">Qualifying</h3>
				<h3 ng-switch-when="4">Formation</h3>
				<h3 ng-switch-when="5">Race</h3>
				<h3 ng-switch-when="6">Time Attack</h3>
				<h3 ng-switch-default>&nbsp;</h3>
			</div>
			<!-- Standings table -->
			<table style="width: 100%;">
				<tbody>
					<tr ng-repeat="driver in participants.mParticipantInfo | orderBy:'mRacePosition'">
						<td style="font-weight: 700;">{{driver.mRacePosition}}</td>
						<td ng-class="{'text-bold': driver.mName == participants.mPlayerName}">{{driver.mName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>